body {
    margin: 0;
    padding: 0;
}

:root {
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
    background-color: var(--bodyColor);
    /* position: relative; */
}

body {
    background-color: #baabc9;
}

.navbar {
    background-color: #29113e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    transition: all 0.8 ease-out;
}

.logo {
    font-size: 30px;
    margin-right: 220px;
}

.logo:hover {
    color: rgb(221, 185, 255);
    scale: 1.1;
    transition: all 0.8 ease-out;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li a:hover {
    color: rgb(221, 185, 255);
    scale: 1.2;
    text-decoration: underline;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #29113e;
        width: 100%;
        top: 56px;
        left: 0;
        opacity: 0.91;
        text-align: center;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .logo {
        margin-right: 0px;
        margin-left: 25px;
    }
}

.nav-icon img {
    width: 45px;
}

.cart-btn {
    display: flex;
}

.cart-items {
    margin-right: -6px;
}

/* Body */

.products {
    padding: 2rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1500px;

    /* width: 80vw;
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 2.8rem;
    grid-row-gap: 4rem; */
}

.card {
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 12px;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    border-radius: 10px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    color: #6c6c6c;
}

.card button {
    background-color: #a992c0;
    color: rgb(44, 14, 69);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.card button:hover {
    transition: transform 0.38s ease-out;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

/* -------------- FOOTER -------------- */

.main-footer {
    background-color: #29113e;
    color: #fff;
    min-height: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 8rem;
}

.main-footer .footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.footer__item {
    margin-top: 1.3rem;
    margin-bottom: 1.2rem;
    margin-right: 3rem;
}

.footer__item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    display: block;
    transition: all 0.3s ease-out;
}

.footer__item a:hover {
    color: #a992c0
}

.footer__item h6 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer__item.enemad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5rem;
}

.footer__enemad {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    max-width: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer__enemad img {
    width: 100%;
    height: auto;
}

/* Media Queries for Responsive Footer */
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
    }

    .footer-item {
        margin-bottom: 10px;
    }
}